In [1]:
#-------------------------------------------------------------------------------------------------------------------------------
# By Alexandra Lee (July 2018) 
#
# Apply offset vector
#
# In original space: Add offset vector to each sample in the test set condition A to transform the gene expression 
# profile of the test samples to look like the samples are under condition B
#
# In latent space:  Add offset vector to each sample in the encoded test set condition A to transform the gene 
# expression profile of the test samples to look like the samples are under condition B
#-------------------------------------------------------------------------------------------------------------------------------
import os
import pandas as pd
import numpy as np

randomState = 123
from numpy.random import seed
seed(randomState)

In [2]:
# load arguments
test_file = os.path.join(os.path.dirname(os.getcwd()), "encoded", "oxygen_level", "test_t5_2layer_10latent_encoded.txt")
offset_file = os.path.join(os.path.dirname(os.getcwd()), "data", "oxygen_level", "train_offset_2layer_10latent.txt")

# Percentage of the offset to apply to the dataset
percentage = 0.95

# output files
out_file = os.path.join(os.path.dirname(os.getcwd()), "encoded", "oxygen_level", "estimated_test_t90_2layer_10latent_encoded.txt")

In [3]:
# read in data
test_data = pd.read_table(test_file, header = 0, sep = '\t', index_col = 0)

test_data

,0,1,2,3,4,5,6,7,8,9
GSM1267087_HZI1950_Pae_G1a.CEL,0.0,0.0,3.598785,1.30326,6.860431,0.0,0.0,7.532254,6.492113,9.623106

In [4]:
# read offset
offset_data = pd.read_table(offset_file, header = 0, sep = '\t', index_col = 0)
    
offset_data

,0,1,2,3,4,5,6,7,8,9
0,0.0,2.958421,-0.700797,-0.028921,-2.156146,0.0,2.155766,-2.260221,-1.913949,-2.170483

In [5]:
# Apply offset
estimated_data = test_data.values + percentage*offset_data.values
estimated_data = pd.DataFrame(estimated_data, index = test_data.index)

estimated_data

,0,1,2,3,4,5,6,7,8,9
GSM1267087_HZI1950_Pae_G1a.CEL,0.0,2.8105,2.933027,1.275784,4.812092,0.0,2.047977,5.385044,4.673862,7.561147

In [6]:
# Output estimated gene experession values
estimated_data.to_csv(out_file, sep='\t')