In [1]:
#-------------------------------------------------------------------------------------------------------------------------------
# By Alexandra Lee (July 2018) 
#
# Take the difference of the encoded gene expression of the two extreme experimental conditions
# This will be the offset for the latent space
#-------------------------------------------------------------------------------------------------------------------------------
import os
import pandas as pd
import numpy as np
np.random.seed(123)

In [2]:
# load arguments
max_file = os.path.join(os.path.dirname(os.getcwd()), "encoded", "oxygen_level", "train_maxO2_2layer_10latent_encoded.txt")
min_file = os.path.join(os.path.dirname(os.getcwd()), "encoded", "oxygen_level", "train_minO2_2layer_10latent_encoded.txt")

# output files
out_file = os.path.join(os.path.dirname(os.getcwd()), "data", "oxygen_level", "train_offset_2layer_10latent.txt")

In [3]:
# read in data
max_data = pd.read_table(max_file, header = 0, sep = '\t', index_col = 0)
min_data = pd.read_table(min_file, header = 0, sep = '\t', index_col = 0)

min_data

,0,1,2,3,4,5,6,7,8,9
GSM1267099_HZI1963_Pae_G1a.CEL,0.0,2.958421,2.233871,0.0,3.158268,0.0,2.155766,4.810997,4.461604,5.181057

In [4]:
max_data

,0,1,2,3,4,5,6,7,8,9
GSM1267086_HZI1981_G1a.CEL,0.0,0.0,2.934668,0.028921,5.314414,0.0,0.0,7.071218,6.375553,7.35154

In [5]:
# Generate offset using average gene expression in original dataset
train_offset_latent = min_data.values - max_data.values
train_offset_latent = pd.DataFrame(train_offset_latent, columns = min_data.columns)
train_offset_latent

,0,1,2,3,4,5,6,7,8,9
0,0.0,2.958421,-0.700797,-0.028921,-2.156146,0.0,2.155766,-2.260221,-1.913949,-2.170483

In [6]:
# output
train_offset_latent.to_csv(out_file, sep='\t')