In [1]:
#-------------------------------------------------------------------------------------------------------------------------------
# By Alexandra Lee (July 2018) 
#
# Take the difference of the encoded gene expression of the two extreme experimental conditions
# This will be the offset for the latent space
#-------------------------------------------------------------------------------------------------------------------------------
import os
import pandas as pd
import numpy as np
np.random.seed(123)

In [2]:
# load arguments
max_file = os.path.join(os.path.dirname(os.getcwd()), "encoded", "PA1673", "train_minExp_2layer_10latent_encoded.txt")
min_file = os.path.join(os.path.dirname(os.getcwd()), "encoded", "PA1673", "train_maxExp_2layer_10latent_encoded.txt")

# output files
out_file = os.path.join(os.path.dirname(os.getcwd()), "data", "PA1673", "train_offset_2layer_10latent.txt")

In [3]:
# read in data
max_data = pd.read_table(max_file, header=0, sep='\t', index_col=0)
min_data = pd.read_table(min_file, header=0, sep='\t', index_col=0)

min_data

,0,1,2,3,4,5,6,7,8,9
GSM1267096_HZI1960a_Pae_G1a.CEL,0.797297,1.174354,0.975494,3.902957,0.0,0.632194,2.122414,0.474345,4.75036,0.0

In [4]:
max_data

,0,1,2,3,4,5,6,7,8,9
GSM1267086_HZI1981_G1a.CEL,0.0,2.587041,2.479394,0.0,0.0,0.280673,0.0,1.052458,6.253006,0.378667

In [5]:
# Generate offset using average gene expression in original dataset
train_offset_latent = min_data.values - max_data.values
train_offset_latent = pd.DataFrame(train_offset_latent, columns=min_data.columns)
train_offset_latent

,0,1,2,3,4,5,6,7,8,9
0,0.797297,-1.412687,-1.5039,3.902957,0.0,0.351521,2.122414,-0.578113,-1.502645,-0.378667

In [6]:
# output
train_offset_latent.to_csv(out_file, sep='\t')